<% include partial/header.ejs %>


	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_2.jpg)" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row row-mt-15em">
				<div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
					<h1> <strong>CONTACT US</strong></h1>	
					<h2> @billbilltw</h2>
				</div>
			</div>
		</div>
	</header>
				
	<% include partial/footer.ejs %>
